/* EndBar.css */

.footer {
    display: flex;
    flex-direction: column;
    padding: 1rem;
    background: #A3A3A3;
    color: #000;
}

.footer-title {
    font-size: 1.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
}

.social-links {
    display: flex;
    justify-content: space-between;
    align-items: center; /* Ensures vertical alignment */
    width: 100%;
    margin-bottom: 1rem;
}

.social-links .column {
    flex: 1;
}

.social-links .column:first-child {
    text-align: left;
}

.social-links .column:last-child {
    text-align: right;
}

.social-links .nav-link {
    font-size: 2rem;
    color: #000000;
    text-decoration: none;
    margin: 0.5rem 0;
    transition: transform 0.2s, color 0.2s;
}

.social-links .nav-link:hover {
    transform: scale(1.1);
    color: #b60000;
}

.footer-note {
    font-size: 0.875rem;
    text-align: center;
    margin-top: 2rem;
    color: #333;
}
