.footer {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 20px;
    background-color: #222;
    color: white;
    padding: 20px;
    text-align: center;
    align-items: center;
}

.footer-title {
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 10px;
}

.social-links {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .column {
    display: flex;
    gap: 15px;
    margin-top: 10px;
}

.footer .nav-link {
    color: white;
    font-size: 24px;
    transition: transform 0.2s, color 0.2s;
}

.footer .nav-link:hover {
    color: #f0a500;
    transform: scale(1.1);
}

.footer div {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footer .locaciones .p{
    font-size: 10px;
}   
/* Responsive Design */
@media (max-width: 768px) {
    .footer {
        grid-template-columns: 1fr;
        text-align: center;
    }
}
