
.each-slide-effect > div {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  height: 300px;
}

.each-slide-effect span {
  padding: 20px;
  font-size: 20px;
  background: #efefef;
  text-align: center;
}

.tractors-container {
  padding: 20px;
  text-align: center;
}

.tractors-wrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.tractor-card {
  width: 250px;
  border: 1px solid #ddd;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.tractor-image {
  width: 100%;
  height: 200px;
  object-fit: cover; /* Ensures images are cropped to fit */
}

.tractor-name {
  min-height: 50px; /* Fixed height for uniformity */
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  font-weight: bold;
  font-size: 1rem;
  overflow: visible;
  text-overflow: ellipsis;
  white-space: normal;
  width: 100%;
}

.tractor-price {
  color: #333;
  font-size: 16px;
  margin-bottom: 10px;
}

.navigate-button {
  margin-top: 20px;
  padding: 10px 20px;
  width: 300px;
  margin: 0 auto;
  display: block;
  text-align: center;
  font-size: 16px;
  color: #fff;
  background-color: #000000;
  border: none;
  border-radius: 5px;
  cursor: pointer;
}

.navigate-button:hover {
  background-color: #414141;
}

.video-container {
    text-align: center;
    margin: 20px;
    background: #efefef;
  }
  
  .video-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px; /* Optional spacing between videos */
  }
  
  iframe {
    flex: 1; /* Makes videos responsive */
    max-width: 48%; /* Prevents videos from being too wide */
    height: 100;
    border: none; /* Removes default border */
  }
  