body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
  }
  
  
  
  .row {
    display: flex;
    align-items: center;
    justify-content: space-between; /* Ensures proper spacing */
    width: 100%;
    max-width: 1200px;
    margin: 0 auto; /* Centers the container */
    padding: 16px;
  }
  
  .row h1 {
    flex: 1; /* Takes up available space */
    text-align: center; /* Centers the text */
    margin: 0;
    font-size: 1.8rem;
  }
  
  .row button {
    background-color: #eeec96;
    color: rgb(0, 0, 0);
    border: none;
    padding: 6px 12px; /* Makes the button smaller */
    font-size: 0.9rem;
    font-weight: bold;
    border-radius: 4px;
    width: 120px;
    cursor: pointer;
    transition: background 0.3s ease-in-out;
  }
  
  .row button:hover {
    background-color: #1565c0;
  }

  .group-list {
    overflow-y: auto;
    max-height: 500px;
    border: 1px solid #ccc;
    border-radius: 8px;
    padding: 8px;
    background: white;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 40px;
    justify-content: center;
    padding: 16px;
  }
  
  .group-card {
    background-color: #f9f9f9;
    padding: 8px;
    border-radius: 6px;
    transition: background 0.3s ease-in-out;
  }
  
  .group-card:hover {
    background-color: #eaeaea;
  }
  
  .group-list .button {
    width: 100%;
    text-align: left;
    font-size: 1rem;
    text-align: center;
    font-weight: bold;
    padding: 10px;
    border-radius: 4px;
    border: none;
    background: #eb5050;
    color: white;
    cursor: pointer;
    transition: background 0.3s;
  }
  
  .group-list .button:hover {
    background: #1565c0;
  }
  
  .product-list {
    margin-top: 8px;
    border-top: 1px solid #ccc;
    padding-top: 8px;
  }
  
  .product-item {
    padding: 4px;
    font-size: 0.9rem;
  }

